# Series
* A Data structure in pandas
* Seems like a cross between lists and dictionaries and it is one of the easiest way to visualize data.
* It has order (like in lists) and index (like in dictionaries)

## Series - examples

In [2]:
import pandas as pd
pd.Series?  # opens documentation about Series

In [6]:
kdramas=['Goblin','Moonlovers','King','Hwarang']
pd.Series(kdramas)

0        Goblin
1    Moonlovers
2          King
3       Hwarang
dtype: object

In [8]:
nos = [16,20,18,27]
pd.Series(nos)

0    16
1    20
2    18
3    27
dtype: int64

In [9]:
no = [1.023,.68,5.90]
pd.Series(no)

0    1.023
1    0.680
2    5.900
dtype: float64

In [10]:
kdramas=['Goblin','Moonlovers',None]
pd.Series(kdramas)

0        Goblin
1    Moonlovers
2          None
dtype: object

In [11]:
nos = [16,20,None]
pd.Series(nos)

0    16.0
1    20.0
2     NaN
dtype: float64

In [12]:
import numpy as np
np.nan == None

False

In [13]:
np.nan==np.nan

False

In [15]:
np.isnan(np.nan)

True

In [21]:
India = {'Kerala': 'Trivandrum',
          'Rajastan': 'Jaipur',
          'UP': 'Lucknow',
          'MP': 'Bhopal'}
i = pd.Series(India)
i

Kerala      Trivandrum
MP              Bhopal
Rajastan        Jaipur
UP             Lucknow
dtype: object

In [18]:
i.index

Index([u'Kerala', u'MP', u'Rajastan', u'UP'], dtype='object')

In [19]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [23]:
s = pd.Series(India, index=['UP', 'MP', 'Bihar'])
s

UP       Lucknow
MP        Bhopal
Bihar        NaN
dtype: object

## Querying A Series

* 2 methods iloc and loc

In [24]:
India = {'Kerala': 'Trivandrum',
          'Rajastan': 'Jaipur',
          'UP': 'Lucknow',
          'MP': 'Bhopal'}
i = pd.Series(India)
i

Kerala      Trivandrum
MP              Bhopal
Rajastan        Jaipur
UP             Lucknow
dtype: object

In [25]:
i.iloc[2]

'Jaipur'

In [26]:
i.loc['UP']

'Lucknow'

In [27]:
i[3]

'Lucknow'

In [28]:
i['UP']

'Lucknow'