# Dataframe
* Data Structure in Pandas
* Helps in data cleaning

In [5]:
import pandas as pd
Info11 = pd.Series({'Name': 'Veena',
                        'Fav_Actor': 'Lee Joon Gi',
                        'Fav_Number': 9})
Info22 = pd.Series({'Name': 'Sreya',
                        'Fav_Actor': 'Lee Min Ho',
                        'Fav_Number': 7})
Info33 = pd.Series({'Name': 'Haripriya',
                        'Fav_Actor': 'Lee Jong Suk',
                        'Fav_Number': 3})
df = pd.DataFrame([Info11, Info22, Info33], index=['Info1', 'Info2', 'Info3'])
df.head()

          Fav_Actor  Fav_Number       Name
Info1   Lee Joon Gi           9      Veena
Info2    Lee Min Ho           7      Sreya
Info3  Lee Jong Suk           3  Haripriya

In [7]:
df.loc['Info3']

Fav_Actor     Lee Jong Suk
Fav_Number               3
Name             Haripriya
Name: Info3, dtype: object

In [8]:
df.T

                  Info1       Info2         Info3
Fav_Actor   Lee Joon Gi  Lee Min Ho  Lee Jong Suk
Fav_Number            9           7             3
Name              Veena       Sreya     Haripriya

In [9]:
df

          Fav_Actor  Fav_Number       Name
Info1   Lee Joon Gi           9      Veena
Info2    Lee Min Ho           7      Sreya
Info3  Lee Jong Suk           3  Haripriya

In [13]:
copy_df = df.copy()
copy_df = copy_df.drop('Info2')
copy_df

          Fav_Actor  Fav_Number       Name
Info1   Lee Joon Gi           9      Veena
Info3  Lee Jong Suk           3  Haripriya

In [ ]:
copy_df.drop?