In [1]:
cd C:\Users\Vishnu\Documents\ML

SyntaxError: invalid syntax (<ipython-input-1-715c80650676>, line 1)

In [9]:
cd C:\Users\Vishnu\Documents\ML

C:\Users\Vishnu\Documents\ML

# How to read a data and represent it as a table

In [11]:
import pandas as pd

In [12]:
data = pd.read_csv('people-example.csv')

In [13]:
print(data)

  First Name Last Name        Country  age
0        Bob     Smith  United States   24
1      Alice  Williams         Canada   23
2    Malcolm      Jone        England   22
3      Felix     Brown            USA   23
4       Alex    Cooper         Poland   23
5        Tod  Campbell  United States   22
6      Derek      Ward    Switzerland   25

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
First Name    7 non-null object
Last Name     7 non-null object
Country       7 non-null object
age           7 non-null int64
dtypes: int64(1), object(3)
memory usage: 296.0+ bytes

In [16]:
data.head()

  First Name Last Name        Country  age
0        Bob     Smith  United States   24
1      Alice  Williams         Canada   23
2    Malcolm      Jone        England   22
3      Felix     Brown            USA   23
4       Alex    Cooper         Poland   23

In [17]:
data.describe()

             age
count   7.000000
mean   23.142857
std     1.069045
min    22.000000
25%    22.500000
50%    23.000000
75%    23.500000
max    25.000000

In [17]:
import csv
 # %precision 2 # it controls how python displays float numbers with %precision 2 1.2345 ==> 1.23
with open('people-example.csv') as csvfile:
    ppl=list(csv.DictReader(csvfile))
ppl[:3]

[{'Country': 'United States',
  'First Name': 'Bob',
  'Last Name': 'Smith',
  'age': '24'},
 {'Country': 'Canada',
  'First Name': 'Alice',
  'Last Name': 'Williams',
  'age': '23'},
 {'Country': 'England',
  'First Name': 'Malcolm',
  'Last Name': 'Jone',
  'age': '22'}]

In [18]:
a=set(d['age'] for d in ppl)
a

{'22', '23', '24', '25'}