<a href="https://colab.research.google.com/github/veenasnair18/Python-tutorial-using-Jupyter-Notebook-/blob/master/Pattern_Printing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#Simple pyramid
n=int(input("Enter the rows"))
for i in range(0,n):
  for j in range(0,i+1):
    print("* ",end="")
  print("\r")

Enter the rows5
*
* *
* * *
* * * *
* * * * *

In [18]:
#Simple Pyramid using List
n=int(input("Enter rows?"))
pattern = []
for i in range(1,n+1):
  pattern.append("*"*i)
print("\n".join(pattern))

Enter rows?5
*
**
***
****
*****

In [25]:
#opposite sided pyramid
n=int(input("Enter rows?"))
t = 2*n - 2
for i in range(0, n):
  for j in range(0, t):
    print(end=" ")
  t -= 2
  for j in range(0, i+1):
    print("* ", end="")
  print("\r")

Enter rows?10
                  *
                * *
              * * *
            * * * *
          * * * * *
        * * * * * *
      * * * * * * *
    * * * * * * * *
  * * * * * * * * *
* * * * * * * * * *

In [29]:
n=int(input("Enter number of rows?"))
t = n - 1
for i in range(0, n):
  for j in range(0, t):
    print(end=" ")
  t-=1
  for j in range(0, i+1):
    print("* ", end="")
  print("\r")

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *